// 这样也能从根目录引入样式
//@import "@/style/color.scss";

html {
  overflow-y: auto;
}

//右侧滚动条样式Begin
.scroll {
  overflow: auto;
  padding-bottom: 20px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
  border-radius: 7px;
}

::-webkit-scrollbar {
  border-radius: 7px;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:hover {
  background: $bg-blue;
}

::-webkit-scrollbar-thumb {
  background: $bg-blue;
  border-radius: 7px;
}

//End

//iconfont 样式
[class^="icon-"], [class*="icon-"] {
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 这个很坑,原样式是,全部按钮的英文都大写..
.v-btn {
  text-transform: capitalize;
}

// 导入dialog样式表
@import "./dialog.scss";
@import "./table.scss";
@import "./card.scss";

.form-group {
  display: flex;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-require .v-label {
  padding-left: 12px;

  &::before{
    content: '';
    margin-right: 8px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #DC0600;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
  }
}

// 修改多选下拉框的选值不溢出的问题
.visible-selected /deep/ {
  .v-select__selection--comma{
    overflow: visible;
  }

  .v-select__selections{
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.v-list-item{
  &:hover{
    background-color: #d7e5f6;
  }
}
