// 这样也能从根目录引入样式
//@import "@/style/color.scss";

html {
  overflow-y: auto;
}

//右侧滚动条样式Begin
.scroll {
  overflow: auto;
  padding-bottom: 20px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
  border-radius: 7px;
}

::-webkit-scrollbar {
  border-radius: 7px;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:hover {
  background: $bg-blue;
}

::-webkit-scrollbar-thumb {
  background: $bg-blue;
  border-radius: 7px;
}

//End

//iconfont 样式
[class^="icon-"], [class*="icon-"] {
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 这个很坑,全部按钮的英文都大写..
.v-btn {
  text-transform: capitalize;
}

.v-dialog > .v-card{
  > .v-card__title {
    &.dialog-title {
      flex: none;
      padding: 24px;
      font-size: 22px;
      color: $bg-blue;
      letter-spacing: .69px;
      line-height: 23px;
      border-bottom: 1px solid #ededed;
    }
  }

  >.v-card__text {
    &.dialog-text {
      color: #333;
      padding: 20px 24px 0 24px;
    }
  }

  .dialog-footer {
    flex: none;
    display: flex;
    justify-content: flex-end;
    padding: 24px;
  }
}

.app-btn {
  .v-btn {
    min-width: 76px !important;
    padding: 0 24px;
    height: 36px !important;
    box-shadow: none !important;
    background-color: #f6f6f6 !important;
    border-radius: 4px;
    font-width: 400;
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;

    &:hover{
      background-color: #0055b8 !important;
      color: #fff;
    }
  }
}
